
#bg {
  background-image: url("..\\images\\bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-image {
  width: 100%;
  max-height: 50%;
}

#footer-home {
  display: inline-block;
  width: 100%;
}

#footer-nosotros {
  margin-top: 1%;
  display: inline-block;
  width: 100%;
}

#footer-productos {
  margin-top: 2%;
  display: inline-block;
  width: 100%;
}

#contact-image-mobile {
  display: none;
}

#footer-contact {
  display: inline-block;
  width: 100%;
}

#product-list-desktop {
  margin-left: 6%;
  margin-top: 3%;
}

#product-list-mobile {
  display: none;
}

#products-inner-row {
  margin-top: 3%;
}

#products-page-title {
  margin-left: 5%;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

#contact-form {
  margin-left: 5%;
}

#Home {
  margin-left: 50%;
}

#logo {
  margin-left: 25%;
  margin-top: 0%
}

#copyright {
  float: right;
  margin-right: 3%;
  margin-top: 1%;
}

#follow-us {
  margin-left: 47%;
  margin-top: 2%;
}

#contact-page-title {
  margin-top: 2%;
  margin-left: 5%;
}

#contact-text-box {
  margin-left: 28%;
  margin-top: 1%;
  font-family: 'Amatic SC';
  font-size: 25px;
}

#follow-us-contact {
  margin-left: 22%;
}

#social-icons-contact {
  margin-left: 45%;
  margin-top: 5%;
}

#contact-image {
  width: 100%;
}

#contact-text {
  margin-left: 7%;
}

.modal-title {
  font-family: 'Amatic SC';
  font-size: 40px;
}

.modal-footer {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.products-page {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.navbar-title {
  font-weight: bold;
}

.social-icons {
  margin-left: 0.5%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.social-icons:hover {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.product {
  cursor: pointer;
  width: 250px;
  height: 250px;
  transition: opacity 0.3s ease-in-out;
}

.close {
  cursor: pointer;
}

.product:hover {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.ml-25 {
  margin-left: 25%;
}

.navbar-nav {
  margin-left: 2%;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

.about {
  font-family: 'Amatic SC', cursive;
  font-size: 21px;
  margin-bottom: 6%;
  font-weight: 600;
}

.nav-item {
  margin-top: 8%;
}

.fixed-bottom {
  height: 6%;
}

.pink-theme {
  background-color: #ededed /*Color rosa: #ddcedd;*/
}

.modal-product {
  max-width: 100%;
}

html{
 height:100%;
 min-height:100%;
 }

@media (max-width: 768px) {

  .navbar-brand {
    margin-top: 5%;
  }

  .navbar {
        position: absolute;
        width: 100%;
        z-index: 999;
    }

    #contact-text {
      font-size: 12px;
    }

    #follow-us-contact {
      font-size: 12px;
      margin-left: 35%;
    }

  #footer-contact {
    position: absolute;
    bottom: 0;
  }

  #contact-image-mobile {
    display: block;
    max-width: 100%;
  }

  #product-list-desktop {
    display: none;
    font-size: 50px;
  }

  #product-list-mobile {
    margin-left: 6%;
    margin-top: 3%;
    display: block;
  }

  #contact-image {
    display: none;
  }

  .product {
    width: 225px;
    height: 225px;
  }

  #copyright {
    margin-top: 5%;
    margin-right: 3%;
    width: 100%;
    font-size: 13px;
  }

  #Home {
    margin-left: 25%;
  }
}

@media (max-width: 500px) {

  .modal-product {
    height: 320px;
  }

  #us-responsive {
    width: 280px;
    height: 310px;
  }

  #footer-contact {
    position: absolute;
    bottom: 0px;
  }

  .product {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 400px) {

  .modal-product {
    height: 280px;
  }

  #contact-text-box {
    margin-left: 15%;
    margin-top: 10%;
  }

  .product {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1600px) {

  .navbar-nav {
    margin-left: 26%;
  }

  .product {
    cursor: pointer;
    width: 350px;
    height: 350px;
    transition: opacity 0.3s ease-in-out;
  }

  .about {
    margin-bottom: 0%;
    font-family: 'Amatic SC', cursive;
    font-size: 21px;
    font-weight: 600;
  }

  #footer-nosotros {
      position: absolute;
      bottom: 0;
  }

  #contact-text {
    margin-left: 12%;
  }

  #follow-us-contact {
    margin-left: 35%;
  }
}
