
#bg {
  background-image: url("..\\icons\\bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about-us {
  margin-top: 3%;
}

#contact-img {
  margin-left: 5%;
  margin-bottom: 15%;
}

#footer-nosotros {
  margin-top: 1%;
  display: inline-block;
  width: 100%;
}

#footer-productos {
  margin-top: 2%;
  display: inline-block;
  width: 100%;
}

#footer-contact {
  display: inline-block;
  width: 100%;
}

#product-list {
  margin-left: 6%;
  margin-top: 3%;
}

#products-inner-row {
  margin-top: 3%;
}

#products-page-title {
  margin-left: 5%;
}

#contact-form {
  margin-left: 5%;
}

#Home {
  margin-left: 50%;
}

#logo {
  margin-left: 25%;
  margin-top: 0%
}

#copyright {
  float: right;
  margin-right: 3%;
  margin-top: 1%;
}

#follow-us {
  margin-left: 47%;
  margin-top: 2%;
}

#contact-page-title {
  margin-top: 2%;
  margin-left: 5%;
}

#contact-text-box {
  margin-left: 27%;
  margin-top: 1%;
}

#follow-us-contact {
  margin-left: 22%;
}

#social-icons-contact {
  margin-left: 45%;
  margin-top: 5%;
}

#contact-image {
  width: 100%;
}

#contact-text {
  margin-left: 7%;
}

.footer {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.navbar-title {
  font-weight: bold;
}

.social-icons {
  margin-left: 0.5%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.social-icons:hover {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.product {
  cursor: pointer;
  width: 250px;
  height: 250px;
  transition: opacity 0.3s ease-in-out;
}

.close {
  cursor: pointer;
}

.product:hover {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.ml-25 {
  margin-left: 25%;
}

.navbar-nav {
  margin-left: 4%;
}

.nav-item {
  margin-top: 8%;
}

.fixed-bottom {
  height: 6%;
}

.pink-theme {
  background-color: #ededed /*Color rosa: #ddcedd;*/
}

@media (max-width: 720px) {
  .navbar-brand {
    display: none;
  }

  #Home {
    margin-left: 25%;
  }
}
